// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.bg-image {
    background-image: url('/images/backgroundhome.jpg');
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.bg-opacity {
    background-color: #ffffff9c;
}